<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Report</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!--  header -->
    <header></header>

    <div class="send-a-report">
      <h2>Hello, please describe what is your incident</h2>

      <form id="form-report" class="form-report">
        <div class="send-a-report-options">
          <div class="send-a-report-input" id="option-1">
            <input
              type="radio"
              id="person"
              name="reportType"
              value="person"
              required
            />
            <label for="person">A person drunk/addict/suspect</label>
          </div>

          <div class="send-a-report-input" id="option-2" required>
            <input
              type="radio"
              id="vehicle"
              name="reportType"
              value="vehicle"
            />
            <label for="vehicle">Car</label>
          </div>

          <div class="send-a-report-input" id="option-3">
            <input
              type="radio"
              id="darkStreet"
              name="reportType"
              value="darkStreet"
            />
            <label for="darkStreet">Dark Street</label>
          </div>
        </div>

        <p class="send-a-report-details">
          <label for="Details">More details:</label>
        </p>

        <input
          id="Details"
          type="text"
          placeholder="Tell briefly about the report"
          required
        />
        <!--  <textarea id="Details" rows="4" cols="50"></textarea>-->

        <input id="form-report-btn" type="submit" value="Submit" />
      </form>

      <ul id="notes"></ul>
    </div>
    <!--  footer -->
    <footer></footer>
    <script src="jquery.js"></script>
    <script src="app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEjbQfO3aDuLVo7UfntjNjUj4Sa1vvVwo"></script>
    <script src="send-report.js"></script>
  </body>
</html>
